*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caixa-video{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;

}

.caixa-video video{
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;

}

.mascara {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #000;
    border-bottom: 0.1rem solid rgba(250, 250, 250, 0,3);
}

.header section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 1.5rem 0;
    position: relative;
}